/* Переменные */
:root {
    /* Цвета */
    --basic-black: #000000;
    --extra-black: #283136;
    --special-black:  #444444;

    --basic-white: #FFFFFF;

    --basic-gray: #EEEEEE;
    --extra-gray:  #888888;
    --gray-hover: #DFDFDF;
    --gray-active: #D5D5D5;
    --gray-light: #DBDBDB;
    --product-gray: #666666;
    --logo-hover-gray: #A6A6A6;

    --basic-red: #FB565A;
    --red-hover:  #E74246;
    --red-active:  #D7373B;

    --basic-green: #00CA74;
    --green-hover: #00BC6C;
    --green-active: #00AA62;

    --basic-yellow: #EFC84A;
    --yellow-hover: #EAB534;
    --yeelow-active: #E5A722;
}

/* Глобальные селекторы */

body {
    min-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

/* Закоментил, пока не добавлена сетка 

img {
    min-width: 100%;
    height: auto;
} */

/* Навигация*/

/* Скрытые заголовки */
.title-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* Grids */
.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
.container{
    width: 1160px;
    margin: 0 auto;
}
/*** Header ***/
.page-header {
    background-color: var(--basic-gray);
    min-width: 1440px;
}

.nav {
    display: grid;
    grid-template-columns: 260px 1fr 160px;

    font-size: inherit;
    line-height: 30px;
    color: var(--basic-black);
    background-color: var(--basic-gray);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav a {
    color: var(--basic-black);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 30px;
}

.nav a:hover{
    color:var(--basic-red);
}
.nav a:active{
    color: var(--basic-black);
    mix-blend-mode: normal;
    opacity: 0.3;
}

.nav-logo a {
    color: var(--logo-hover-gray);
}
/************/

/*** Main ***/

/* Слайдер */

.slider {
    background-color: var(--basic-gray); 
    list-style: none;
    padding:0px;
    margin-top:0px;
}

.slider b {
    font-size: 55px;
    line-height: 55px;
}

.slider p {
    color: var(--extra-black);
}


.slider-button {

    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 18px;
    font-weight: 500;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
    width: 240px;
    height: 50px;
    border: 0px;
    border-radius: 3px;
}
.slider-button:hover {
    background-color: var(--red-hover);
}
.slider-button:active {
    background-color: var(--red-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* убираем рамку при нажатии */
.slider-button, .button {
    outline: none;
}

/* Разработки */
.development-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}

.development-list h3 {
    color: var(--basic-black);
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.development-list p {
    color: var(--extra-black);
}

/*  Кнопки */
.button {
    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 18px;
    font-weight: 500;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
    width: 160px;
    height: 50px;
    border: 0px;
    border-radius: 3px;
}


.button-red {
    background-color: var(--basic-red);

}
.button-red:hover{
    background-color: var(--red-hover);
}
.button-red:active {
    background-color: var(--red-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-green {
    background-color: var(--basic-green);
}
.button-green:hover {
    background-color: var(--green-hover);
}
.button-green:active {
    background-color: var(--green-active);
   
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-yellow {
    background-color: var(--basic-yellow);
}
.button-yellow:hover {
    background-color: var(--yellow-hover);
}
.button-yellow:active {
    background-color: var(--yeelow-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* о нас*/
.about-us {
    display: grid;
    grid-template-columns: 1fr 360px;
}

.description-list {
    list-style: none;
}

.description h3 {
    color: var(--basic-black);
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}

.description p {
    color: var(--extra-black);
}

.description b {
    color: var(--extra-black);
    text-transform: uppercase;
}

.description-list li {
    color: var(--extra-black);
}

.description-list li::before {
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
}

.feutures b {
    display: block;
    color: var(--extra-black);
    text-transform: uppercase;
}

.feutures-list {
    list-style: none;
    display:flex;
    margin: 0;
    padding: 0;
}

.feutures-mark {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
}

.feutures-desc {
    color: var(--extra-black);
    line-height: 18px;
}

/* Клиенты */

.clients-list {
    list-style: none;
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.clients-list a:hover {
    opacity: 0.2;
}

.clients-list a:active {
    opacity: 0.1;
}
/************/

/*** Footer ***/

.social-list {
    list-style: none;
    margin:0;
    padding:0;
}
.footer-wrapper {
    display: grid;
    grid-template-columns: 260px 1fr;
}
/* Карта */

.page-footer b{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;

}

.page-footer p {
    color: var(--special-black);
    line-height: 22px;
}
/************/

/* popup */
.popup-close {
    display: flex;
    width:21px;
    height: 21px;
}

.popup-button {
    background-color: var(--basic-red);
    width: 219px;
    height: 50px;
}
.popup-button:hover{
    background-color: var(--red-hover);
}
.popup-button:active{
    background-color: var(--red-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/*** Разметка каталога ***/
.promo {
    background-color: var(--basic-gray);
    height:241px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.page-title {
    font-size: 55px;
    line-height: 55px;
    margin-top:0;
}

.catalog-list {
    list-style: none;
}

.catalog-description {
    background-color: var(--basic-gray);
}

.subtitle a {
    color: inherit;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}
.subtitle a:hover{
    color:var(--basic-red);
}
.subtitle a:active{
    color: var(--basic-black);
    mix-blend-mode: normal;
    opacity: 0.3;
}


.catalog-description p {
    color: var(--product-gray);
    line-height: 18px;
}

.catalog-button {
    width: 200px;
    height: 50px;
}

.catalog-button:hover{
    background-color: var(--red-hover);
}
.catalog-button:active{
    background-color: var(--red-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Пагинация */

.pagination-list {
    list-style: none;
}

.pagination-item {
    background-color: var(--basic-gray);
    border:0px;
    border-radius:  3px;
    text-transform: uppercase;
}
.pagination-item-current {
    background-color: var(--basic-white);
    border: 3px solid var(--gray-light);
    box-sizing: border-box;
}

.pagination-item a{
    color:inherit;
    line-height: 18px;
    font-weight: 500;
}
/************/