/* Переменные */
:root {
    /* Цвета */
    --basic-black: #000000;
    --extra-black: #283136;
    --direction-black: #231F20;
    --special-black:  #444444;
    --product-background-black-hover:  #4D4D4D;
    --product-background-gray: #F2F2F2;
    --basic-white: #FFFFFF;

    --basic-gray: #EEEEEE;
    --social-icon-gray: #E1E1E1;
    --extra-gray:  #888888;
    --gray-hover: #DFDFDF;
    --gray-active: #D5D5D5;
    --gray-light: #DBDBDB;
    --product-gray: #666666;
    --logo-hover-gray: #A6A6A6;
    --popup-border: #D7DCDE;
    --slider-current: #c1c1c1;
    --form-scale-gray: #D7DCDF;
    --form-toggle-gray: #ababab;

    --basic-red: #FB565A;
    --red-hover:  #E74246;
    --red-active:  #D7373B;

    --basic-green: #00CA74;
    --green-hover: #00BC6C;
    --green-active: #00AA62;

    --basic-yellow: #EFC84A;
    --yellow-hover: #EAB534;
    --yeelow-active: #E5A722;

    --shadow: rgba(0, 1, 1, 0.1);
}

/* Глобальные селекторы */

body {
    min-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}


img {
    min-width: 100%;
    height: auto;
} 

/* Навигация*/

/* Скрытые заголовки */
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* Grids */
.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
.container{
    width: 1160px;
    margin: 0 auto;
}
/*** Header ***/
.page-header {
    background-color: var(--basic-gray);
    min-width: 1440px;
}

.nav {
    display: grid;
    grid-template-columns: 160px 1fr 160px;

    font-size: inherit;
    line-height: 30px;
    color: var(--basic-black);
    background-color: var(--basic-gray);
}
.nav-logo {
    margin-top:49px;
}
.nav-logo a {
    color: var(--logo-hover-gray);
}
.nav-list {
    margin-left: 102px;
    margin-top: 75px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 740px;
}
.nav-list li {
    margin-right:45px;
}
.nav a {
    color: var(--basic-black);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 30px;
}

.nav a:hover,
.nav a:focus {
    color:var(--basic-red);
}
.nav a:active,
.nav a:focus{
    color: var(--basic-black);
    mix-blend-mode: normal;
    opacity: 0.3;
}

/* Линия на конкретной странице */
.nav-item-line{
    position: relative;
}

.nav-item-line::after {
    content: "";
    position: absolute;
    top: 43px;
    left:0px;
    width: 100%;
    height: 2px;
    background-color: var(--basic-red);
    background-position: 0 0;
}


.nav-cart {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 75px;
}

.nav-cart:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 7px;
    right: 100px;
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.nav-cart,
.nav-list {
    margin-top:75px;
}
/************/

/*** Main ***/

/* Слайдер */

.slider {
    background-color: var(--basic-gray);
}

/* Backgrounds всех слайдов */
.slider-item-first {
    background-image: url("../img/index-slider-one.png");
    background-repeat: no-repeat;
    background-position: 400px 0;
}
.slider-item-second {
    background-image: url("../img/index-slider-second.png");
    background-repeat: no-repeat;
    background-position: 400px 0;
}
.slider-item-third {
    background-image: url("../img/index-slider-third.png");
    background-repeat: no-repeat;
    background-position: 400px 0;
}

.slider-list {
    list-style: none;
    padding:0px;
    margin:0px;
}

.slider-list li {
    padding-top: 78px;
    padding-bottom: 80px;
}

.slider-list b {
    font-size: 55px;
    line-height: 55px;

}

.slider-list p {
    color: var(--extra-black);
    margin-top: 25px;
}


.slider-button {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 38px;
    line-height: 18px;
    font-weight: 500;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
    width: 240px;
    height: 50px;
    border: 0px;
    border-radius: 3px;
}
.slider-button:hover,
.slider-button:focus {
    background-color: var(--red-hover);
}
.slider-button:active {
    background-color: var(--red-active);
    box-shadow: inset 0px 3px 0px var(--shadow);
}

/* Кнопки слайдера */
.slider .container {
    position: relative;
}

.slider-control {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 88px;
    left: 536px;
    top: 317px;
    z-index: 20;
}

.control-button {
    position: relative;
    outline: none;
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--basic-white);
}
.control-button-current::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid var(--slider-current);
    box-sizing: border-box;
    z-index: 30;
}

.development {
    padding-bottom: 80px;
    border-bottom: 2px solid var(--basic-gray);
}

/* Разработки */
.development-list {

    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}
.development-item {
    padding-top: 251px;
    position: relative;
}
.development-item h3 {
    margin: 0;
    color: var(--basic-black);
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}
/* Декор изображения */
.development-item-website::before{
    background-image: url("../img/development-websites.png");
    content: "";
    position: absolute;
    top: 80px;
    width: 300px;
    height: 146px;
}
.development-item-apps::before {
    background-image: url("../img/development-apps.png");
    content: "";
    position: absolute;
    top: 80px;
    width: 300px;
    height: 146px;
}
.development-item-presentations::before {
    background-image: url("../img/development-presentations.png");
    content: "";
    position: absolute;
    top: 80px;
    width: 300px;
    height: 146px;
}
.development-list p {
    color: var(--extra-black);
    padding: 0;
    margin-top: 16px;
}

/*  Кнопки */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    line-height: 18px;
    font-weight: 500;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
    width: 160px;
    height: 50px;
    border: 0px;
    border-radius: 3px;
}


.button-red {
    margin-top:32px;
    background-color: var(--basic-red);

}
.button-red:hover,
.button-red:focus{
    background-color: var(--red-hover);
}
.button-red:active {
    background-color: var(--red-active);
    box-shadow: inset 0px 3px 0px var(--shadow);
}

.button-green {
    margin-top:32px;
    background-color: var(--basic-green);
}
.button-green:hover,
.button-green:focus {
    background-color: var(--green-hover);
}
.button-green:active {
    background-color: var(--green-active);
    box-shadow: inset 0px 3px 0px var(--shadow);
}

.button-yellow {
    margin-top:32px;
    background-color: var(--basic-yellow);
}
.button-yellow:hover,
.button-yellow:focus {
    background-color: var(--yellow-hover);
}
.button-yellow:active {
    background-color: var(--yeelow-active);
    box-shadow: inset 0px 3px 0px var(--shadow);
}

/* о нас*/
.about-us {
    display: grid;
    grid-template-columns: 1fr 360px;
    padding-top: 40px;
    padding-bottom: 75px;
    border-bottom: 2px solid var(--basic-gray);
}

.description-list {
    list-style: none;
}

.description h3 {
    color: var(--basic-black);
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    margin:0;
    padding:0;
    margin-top:33px;
}

.description p {
    color: var(--extra-black);
    margin-top: 32px;
    margin-bottom:40px;
}

.description b {
    color: var(--extra-black);
    text-transform: uppercase;
    
}

.description-list {
    margin-top: 23px;
}
.description-list li {
    margin: 0;
    padding: 0;
    position: relative;
    color: var(--extra-black);
    line-height: 24px;
    padding-bottom:24px;
}

.description-list li::before {
    content:"";
    position: absolute;
    top: 11px;
    left: -40px;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
}

.description-list li:last-child() {
    padding-bottom:0px;
}

.feutures-slogan {
    margin-top: 37px;
    display: block;
    color: var(--extra-black);
    text-transform: uppercase;
}

.feutures-list {
    list-style: none;
    display:flex;
    margin: 0;
    padding: 0;
}

.feutures-mark {
    display: flex;
    margin:0px;
    margin-top: 31px;
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
}

.feutures-desc {
    margin-top: 10px;
    color: var(--extra-black);
    line-height: 18px;
}
.letter {
    margin-top: 3px;
    margin-right:20px;
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: 26px;
    line-height: 40px;
}

/* Клиенты */

.clients {
    padding-top: 46px;
    padding-bottom: 24px;
    border-bottom: 2px solid var(--basic-gray);
}

.clients-list {
    list-style: none;
    margin:0;
    margin-bottom: 20px;
    padding:0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.clients-list a:hover,
.clients-list a:focus {
    opacity: 0.2;
}

.clients-list a:active {
    opacity: 0.1;
}
/************/

/*** Footer ***/
.page-footer {
    margin-top: 80px;
    padding-bottom: 68px;
}
/* Карта */
/* затычка вместо карты, чтобы правильно расположить элементы */
.map .container {
    position: relative;
}
.map-description {
    position: absolute;
    background-color: var(--basic-white);
    width: 319px;
    height: 308px;
    bottom: 54px;
    left: 0px;
}

.map-description b {
    display: block;
    padding:0px;
    margin: 0px;
    margin-top: 49px;
    margin-left: 50px;
    font-size: 18px;
    line-height: 30px;

}

.map-description address,
.map-number {
    padding:0px;
    margin: 0px;
    margin-top: 22px;
    margin-left: 50px;
    font-size: 16px;
    line-height: 18px;
    font-style: normal;
}

.map-number {
    margin-top: 16px;
    margin-bottom: 0;
    display: block;
    color: var(--basic-black);

}

.button-map-description {
    margin-top: 37px;
    margin-left: 50px;
    width: 219px;
}
.button-map-description:hover,
.button-map-description:focus{
    background-color: var(--red-hover);
}
.button-map-description:active{
    background-color: var(--red-active);
    box-shadow: inset 0px 3px 0px var(--shadow);
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 400px 1fr;
    margin-top: 68px;
}

/* Icons */
.social-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin:0;
    padding:0;
}

.social-item {
    margin-right: 9px;
    margin-bottom: 9px;
    width: 81px;
    height: 81px;
}
.social-item:hover path:nth-child(2),
.social-item:focus path:nth-child(2){
    fill: var(--red-hover);
}
.social-item:active path:nth-child(2){
    fill: var(--red-active);
}

.footer-friendly-text {
    margin-top: 7px;
}

.footer-friendly-text b{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;

}

.footer-friendly-text p {
    margin-top: 10px;
    color: var(--special-black);
    line-height: 22px;
}
/************/

/* popup */

.popup {
    display:none;
    position: fixed;
    background-color: var(--basic-white);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 590px;
    width: 960px;
    outline: 1px solid blue;
}
.popup-title {
    display: inline-block;
    vertical-align: top;
    margin-top: 63px;
    margin-left: 100px;
    margin-bottom: 0px;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
}

.popup-close {
    display: inline-block;
    vertical-align: top;
    outline: none;
    margin-top:78px;
    margin-left: 438px;
    padding:0px;
    width:21px;
    height: 21px;
    border: 0px;
    background-color: var(--basic-white);
    background-image: url(../img/icon-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
}
.popup-close:hover,
.popup-close:focus {
    opacity: 1;
}

.popup-close:active {
    opacity: 0.1;
}

.popup-form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 37px;
    margin-left: 100px;
}

.popup-form label {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}
.popup-half-width {
    display: flex;
    flex-direction: column;
}
.popup-half-width:first-child {
    margin-right: 40px;
}

.popup-half-width input {
    margin-top:5px;
    padding: 16px;
    width: 360px;
    height: 50px;
    border: 2px solid var(--popup-border);
    box-sizing: border-box;
    border-radius: 3px;
}
.form-message-wrapper {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 34px;
}
.form-message-wrapper textarea {
    resize: none;
    width: 760px;
    height: 118px;
    margin-top: 5px;
    padding: 16px;
    border: 2px solid var(--popup-border);
    box-sizing: border-box;
    border-radius: 3px;
}
.popup-button {
    display: block;
    margin-top: 47px;
    background-color: var(--basic-red);
    width: 219px;
    height: 50px;
}
.popup-button:hover,
.popup-button:focus{
    background-color: var(--red-hover);
}
.popup-button:active{
    background-color: var(--red-active);
    box-shadow: inset 0px 3px 0px var(--shadow);
}


/*** Разметка каталога ***/
/* Grid */
.catalog-wrapper {
    display: grid;
    grid-template-columns: 260px 1fr;
}
.promo {
    background-color: var(--basic-gray);
    height:241px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.page-title {
    font-size: 55px;
    line-height: 55px;
    margin-top:0;
    text-align: center;
}

/* Form */
.filter {
    margin-top: 0;
}


.filter-item {
    border: none;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.filter-item h3 {
    margin: 0;
    padding: 0;
    margin-top: 55px;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;
    margin-top: 48px;
    width: 220px;
    height: 41px;
    background-color: var(--basic-gray);
    border-radius: 3px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
}

.scale {
    height: 2px;
    width: 100%;
    background-color: var(--form-scale-gray);   
}

.bar {
    background-color: var(--basic-green);   
    width: 70%;
    height: inherit;
}

.toggle {
    position: absolute;
    top: 30px;
    width: 4px;
    height: 4px;
    background-color: var(--form-toggle-gray);
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
}   
.toggle-min {
    left: 18px;
}
.toggle-max {
    left: 160px;
}

.price-controls {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
}

.price-controls label {
    margin-top: 8px;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--extra-black)
}


.price-controls input {
    margin-left: 12px;
    text-align: center;
    background-color: var(--basic-gray);
    border: none;
    border-radius: 3px;
    height: 18px;
    width: 60px;
    padding: 10px;
}

.filter-grid {
    margin: 0;
    padding: 0;
    margin-top: 16px;
    list-style: none;
    font-size: 16px;
    line-height: 19px;
}

.filter-grid li {
    margin-left: 36px;
    position: relative;
}

.filter-grid li:not(:last-child) {
    margin-bottom: 20px;
}

.filter-radio + .filter-label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -36px;
    width: 25px;
    height: 25px;
    border:none;
    border-radius: 50%;
    background-image: url("../img/icon-filter-circle.svg");
    opacity: 0.4;
}

.filter-radio:checked + .filter-label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -28px;
    width: 9px;
    height: 9px;
    border: none;
    border-radius: 50%;
    background-color: var(--product-background-black-hover);
    opacity: 0.4;
}

.filter-features li {
    position: relative;
}


.filter-checkbox + .filter-label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -36px;
    width: 23px;
    height: 23px;
    border:none;
    background-image: url("../img/icon-filter-border.svg");
    opacity: 0.4;
}

.filter-checkbox:checked + .filter-label::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -36px;
    width: 26px;
    height: 23px;
    border: none;
    background-image: url("../img/icon-filter-border-checked.svg");
    opacity: 0.4;
}
.filter-checkbox:checked +  .filter-label::before {
    display: none;
}


.filter-label:hover::before,
.filter-radio:checked:not(:disabled) + .filter-label:hover::after,
.filter-checkbox:checked:not(:disabled)  + .filter-label:hover::after
{
    opacity: 1;
}

.filter-radio:disabled + .filter-label,
.filter-checkbox:disabled + .filter-label
{
    opacity: 0.3;
}

.filter-radio:disabled + .filter-label::before,
.filter-checkbox:disabled + .filter-label::before,
.filter-radio:disabled + .filter-label::after,
.filter-checkbox:disabled + .filter-label::after 
{
    opacity: 0.4;

}

.catalog {
    margin-left: 140px;
}
.sorting {
    display: flex;
    margin-top: 55px;
    margin-bottom: 48px;
}

.sorting b {
    display: block;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.sorting-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 266px;
}
.sorting-list li:not(:last-child) {
    margin-right: 25px
}
.sorting-list a{
    text-transform: uppercase;
    color: inherit;
    font-size: 14px;
    line-height: 18px;
    mix-blend-mode: normal;
    opacity: 0.3;
}

.sorting-list a:hover,
.sorting-list a:focus {
    opacity: 0.6;
}

.sorting-list .sorting-current,
.sorting-list a:active {
    opacity: 1; 
}

.sorting-direction {
    display: flex;
    list-style: none;
    margin:0;
    padding:0;
    margin-left: 47px;
}

.sorting-direction li:not(:last-child) {
    margin-right: 18px;
}

.direct-item:not(.dir-current){
    opacity: 0.2;
}

.direct-item:hover,
.direct-item:focus {
    opacity: 1;
}

.direct-item:active path,
.dir-current path{
    fill: var(--direction-black);
}


.catalog-list {
    list-style: none;
    margin:0;
    padding: 0;
    display: grid;
    grid-template-columns: 360px 360px;

    row-gap: 30px;
    column-gap: 40px;
}

.catalog-item {
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
    position: relative;
    background-color: var(--product-background-gray);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
}

/* Рамка сверху */
.catalog-item::before {
    content:"";
    position: absolute;
    background-image: url(../img/product-border.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 20;
    top: -40px;
    left: -1px;
    width: 360px;
    height: 40px;
    opacity: 0.12;
}

.catalog-item:hover ,
.catalog-item:focus,
.catalog-item:hover::before {
    opacity: 1;
    box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}


.catalog-description {
    position: absolute;
    bottom: 0px;
    background-color: var(--basic-gray);
    border: none;
    width: 358px;
    height: 231px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align:center;
    display: none;
    flex-direction: column;
    align-items: center;
}

.catalog-item:hover .catalog-description,
.catalog-item:focus .catalog-description{
    display: flex;

}   
.subtitle {
    margin:0px;
    padding: 0px;
    margin-top: 26px;  
}
.subtitle a {
    color: inherit;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.subtitle a:hover,
.subtitle a:focus{
    color:var(--basic-red);
}
.subtitle a:active{
    color: var(--basic-black);
    mix-blend-mode: normal;
    opacity: 0.3;
}


.catalog-description p {
    margin:0px;
    margin-top:12px;
    color: var(--product-gray);
    line-height: 18px;
}

.catalog-button {
    margin-top:32px;
    width: 200px;
    height: 50px;
}

.catalog-button:hover,
.catalog-button:focus{
    background-color: var(--red-hover);
}
.catalog-button:active{
    background-color: var(--red-active);
    box-shadow: inset 0px 3px 0px var(--shadow);
}

/* Пагинация */

.pagination-list {
    list-style: none;
    display: flex;
    margin:0;
    padding: 0;
}


.pagination-item {
    display: flex;    
    justify-content: center;
    align-items: center;
    margin-top:54px;
    margin-right: 7px;
    width: 50px;
    height: 50px;
    background-color: var(--basic-gray);
    border:0px;
    border-radius:  3px;
    text-transform: uppercase;
}

.pagination-item:hover:not(.pagination-item-current),
.pagination-item:focus:not(.pagination-item-current) {
    background-color: var(--gray-hover);
}
.pagination-item:active:not(.pagination-item-current) {
    background-color: var(--gray-active);
    box-shadow: inset 0px 3px 0px var(--shadow);
}
.pagination-item:last-child{
    width: 260px;
}
.pagination-item-current {
    background-color: var(--basic-white);
    border: 3px solid var(--gray-light);
    box-sizing: border-box;
}

.pagination-item a{
    color:inherit;
    line-height: 18px;
    font-weight: 500;
}

.catalog-footer {
    margin-top: 60px;
}


.modal-show {
    display:block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
  }

/************/

/* Animations */

@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
  }